   [0;31m     [0;34m       [0;33m     [0;31m     [0;32m _ [0;37m     [0;35m       [0;33m      [0;36m _
   [0;31m     [0;34m       [0;33m     [0;31m     [0;32m(_)[0;37m     [0;35m       [0;33m      [0;36m| |
   [0;31m ____[0;34m  __ _ [0;33m ___ [0;31m ____[0;32m _ [0;37m     [0;35m _ __  [0;33m  ___ [0;36m| |_
   [0;31m|_  /[0;34m / _` |[0;33m/ __|[0;31m|_  /[0;32m| |[0;37m     [0;35m| '_ \ [0;33m / _ \[0;36m| __|
   [0;31m / / [0;34m| (_| |[0;33m\__ \[0;31m / / [0;32m| |[0;37m  _  [0;35m| | | |[0;33m|  __/[0;36m| |_
   [0;31m/___|[0;34m \__,_|[0;33m|___/[0;31m/___|[0;32m|_|[0;37m (_) [0;35m|_| |_|[0;33m \___|[0;36m \__|

[0;37m   +==============================================+
[0;37m   |[0;31m          ACCESS GRANTED TO {{ ansible_hostname|upper }}           [0;37m|
[0;37m   |[0;31m    BE ADVISED YOUR ACTIONS ARE MONITORED     [0;37m|
[0;37m   +==============================================+
[0;37m   |[0;37m                                              [0;37m|
[0;37m   |[0;33m SYSTEM RULES:                                [0;37m|
[0;37m   |[0;32m   * Do not abuse system resources.           [0;37m|
[0;37m   |[0;32m   * Stay within your home directory.         [0;37m|
[0;37m   |[0;32m   * No illegal files or activity.            [0;37m|
[0;37m   |[0;32m   * Do not give out unauthorized access.     [0;37m|
[0;37m   |[0;37m                                              [0;37m|
[0;37m   |[0;33m OWN RESPONSIBILITY:                          [0;37m|
[0;37m   |[0;32m   * Encrypt sensitive data.                  [0;37m|
[0;37m   |[0;32m   * Perform regular backups.                 [0;37m|
[0;37m   |[0;32m   * Disable application logging.             [0;37m|
[0;37m   |[0;37m                                              [0;37m|
[0;37m   |[0;35m This system may become unavailable at any    [0;37m|
[0;37m   |[0;35m point in time, for any duration and without  [0;37m|
[0;37m   |[0;35m notice. Please plan accordingly.             [0;37m|
[0;37m   |[0;37m                                              [0;37m|
[0;37m   +==============================================+
[0;37m   |[0;34m If you have any questions contact the system [0;37m|
[0;37m   |[0;34m      administrator at [0;36madmin@zaszi.net        [0;37m|
[0;37m   +==============================================+
[1;34m
