[Unit]
Description=Enable vendor reset for VFIO
Before=libvirtd.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'echo -n "device_specific" > /sys/bus/pci/devices/{{ passthrough_address }}/reset_method'

[Install]
RequiredBy=multi-user.target
